/* title.css */

.title-container {
  display: flex;
  flex-direction: row;
}

.title-logo {
  width: 50px;
  height: auto;
}

.title-text {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}

.title-text h1 {
  font-size: 50px; /* Aumenta leggermente la dimensione del carattere del titolo principale */
  color: #333; /* Cambia il colore del testo del titolo principale, ad esempio, a nero (#333) */
}

.title-text p {
  font-size: 25px;
  margin: 8px 0; /* Aggiunge un po' di spazio tra il titolo principale e il sottotitolo */
  color: #666; /* Cambia il colore del testo del sottotitolo, ad esempio, grigio scuro (#666) */
}
