/* navbar.css */

.navbar-container {
    display: flex;
    justify-content: space-between; /* Aggiorna per separare il logo e i link */
    align-items: center;
    padding: 10px 20px; /* Aggiorna il padding per adattarlo alle tue esigenze */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    /* Aggiungi stili al contenitore del logo se necessario */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%; /* Imposta la larghezza desiderata */
    height: 100%; /* Imposta l'altezza desiderata */
}

.logo-container img {
    /* Aggiungi stili all'immagine del logo */
    width: 15rem; /* Imposta la larghezza desiderata */
    height: 5rem; /* Imposta l'altezza desiderata */
    /* Aggiungi altri stili se necessario */
}


/* Stili per i link nella barra di navigazione */
.navbar-link {
    text-decoration: none;
    color: #20252b;
    font-weight: bold;
    margin: 0 10px;
}

/* Stili per il pulsante di accesso */
.login-button {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.login-button img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

.login-button button {
    background-color: #61dafb;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
