/* search.css */

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.search-box {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
}

.search-box input {
  padding: 5px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 22px;
  line-height: 23.98px;
  text-align: start;
  letter-spacing: -0.13px;
  color: #6e6f71;
  background-color: #ffffff;
  flex-grow: 1;
}

.filters-container {
  display: flex;
  margin-top: 1rem;
}

.filter {
  margin-right: 10px;
  position: relative;
}

.filter-button {
  background-color: #ffffff;
  color: #6e6f71;
  padding: 10px 20px;
  width: 200px; /* Set a fixed width for the filter button */
  cursor: pointer;
  box-shadow: none;
  border-radius: 4px;
  text-align: left;
}

.dropdown-content {
  display: flex; /* Updated to flex */
  flex-direction: column; /* Updated to column */
  /* Remove position: absolute */
  background-color: #f9f9f9;
  /* min-width: 160px; Remove min-width */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: absolute;
  max-height: 200px; /* Imposta la tua altezza massima desiderata */
  overflow-y: auto; /* Aggiunge lo scroll verticale se necessario */
}


