/* App.css */

/* Imposta il colore di sfondo dell'intera app a bianco */
.App {
  background-color: #f3f4f6;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.hr-light {
  background: #e7e7e7;
  margin-top: 3rem;
  margin-bottom: 3rem;
  height: 2px;
  border: none;
  width: 100%;
}
 
.App-body{
  margin-left: 100px;
  margin-right:100px;
} 


/* Stili generici per il layout della pagina
body {
  font-family: 'Arial', sans-serif;
  margin: 0 rem;
  padding: 0 rem;
} */