/* App.css */

/* Imposta il colore di sfondo dell'intera app a bianco */
.App {
  background-color: #f3f4f6;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Layout a tre righe: intestazione, corpo, e piè di pagina */
  min-height: 100vh;
}

/* Stili per l'intestazione */
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente il contenuto */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Aggiunge spaziatura all'intestazione */
}

.hr-light {
  background: #e7e7e7;
  margin: 3rem 0; /* Combina le proprietà margin-top e margin-bottom */
  height: 2px;
  border: none;
  width: 100%;
}

.App-body {
  margin: 0 100px; /* Utilizza la shorthand per margin per ridurre la duplicazione */
  box-sizing: border-box; /* Garantisce che il margine non aumenti la larghezza totale */
}

/* Rimuovi il commento e la virgola per attivare la regola */
/* Stili generici per il layout della pagina */
/* .body {
  min-height: 100vh; 
} */
