/* App.css */

/* Imposta il colore di sfondo dell'intera app a bianco */
.App {
  background-color: #ffffff;
}

/* Rimuovi il text-align: center; dalla classe .App-header */
.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
