body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.logo-img {
  width: 50px; /* Imposta la larghezza desiderata */
  height: min-content; /* Imposta l'altezza in base alla larghezza mantenendo l'aspect ratio */
  /* Puoi regolare la larghezza e l'altezza come preferisci */

}
